.product-card-container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-items: center;
    transform: translateX(-100px) translateY(40px);
  }
  
  .hideh2 h2{
    text-indent: -9999px;
    
    }

  .product-card {
    /* Set a fixed width for each card */
    width: calc(20.33%);
    /* Add margin to create some spacing between cards */
    margin-bottom: 20px;
    /* Add a border and padding to the card */
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
  }
  
  /* Override the width of the card image to fit the card */
  .product-image img {
    max-width: 150%;
    max-height: 250px;
    transform: translateX(40px);
  }
  
  /* Add flex to display the card details in a column */
  .product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Add a margin to the card title */
  .product-details h3 {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
    font-style: oblique;
  }
  
  /* Add a margin to the card description */
  .product-details p {
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
  }
  
  /* Add flex to display the card info in a row */
  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
  
  /* Add margin to the card info items */
  .product-price,
  .product-quantity,
  .product-count {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .cart-image img {
    width: 33px;
    height: 30px;
    cursor: pointer;
    position: relative;
    left: 100px;
  }
  
  .alertPositionProduct {
    position: fixed;
    left: 50px;
    top: 63px;
  }

  .add-to-cart-btn{
    position:relative;
    transform: translateX(-5px);
  }
  
  select {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #1f5156;
    cursor: pointer;
  }
  
 
  .category-dropdown {

    display: flex;
    font-size: 20px;
    transform: translateY(80px);
      position: fixed;
      top: 0;
      left: 0;
       width: 50%;
      z-index: 999;
      background-color: rgb(255, 255, 255); 
      font-size: 1.2rem;
      padding: 1rem;
      /* box-shadow: 0 0 10px rgba(250, 7, 7, 0.2); */
    
    
  }

  .category-dropdown-container{
    margin-left: 10px;
  }
  
  .category-dropdown select option {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
  }
  
  .category-dropdown select:focus {
    outline: none;
    background-color: #fff;
  }
  